# Function practice exercises

# exercise-1

In [11]:
# LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(a,b):
    if a > b:
        if a % 2 == b%2 == 0:
            return b
        elif a%2 == b%2 == 1 :
            return a
        elif a%2 == 0 and b%2 == 1 or a%2 ==1 and b%2 ==0:
            return a
    elif b > a:
        if a % 2 == b%2 == 0:
            return a
        elif a%2 == b%2 == 1 :
            return b
        elif a%2 == 0 and b%2 == 1 or a%2 ==1 and b%2 ==0:
            return b
    else:
        return a

In [3]:
lesser_of_two_evens(4,44)

4

In [4]:
lesser_of_two_evens(4,45)

45

In [9]:
lesser_of_two_evens(3,3)

3

In [7]:
lesser_of_two_evens(3,75)

75

---

# exercise-2

In [10]:
# ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
# animal_crackers('Levelheaded Llama') --> True
# animal_crackers('Crazy Kangaroo') --> False

In [12]:
def animal_cracker(textstr):
    s1,s2 = textstr.split(" ")
    if s1[0].upper() == s2[0].upper():
        return True
    
    return False

In [13]:
animal_cracker("Manisha Manish")

True

In [14]:
animal_cracker("Levelheaded Llama")

True

In [16]:
animal_cracker('Crazy Kangaroo')

False

---

# exercise-3

In [17]:
# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
# makes_twenty(20,10) --> True
# makes_twenty(12,8) --> True
# makes_twenty(2,3) --> False

In [21]:
def makes_twenty(a,b):
    if a == 20 or b == 20:
        return True
    elif sum((a,b))==20:
        return True
    else:
        return False

In [19]:
makes_twenty(20,10)

True

In [22]:
makes_twenty(10,10)

True

In [23]:
makes_twenty(12,8)

True

In [24]:
makes_twenty(3,7)

False

---

# LEVEL ONE PROBLEM

# exercise-4

In [25]:
# OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
# old_macdonald('macdonald') --> MacDonald

In [34]:
def old_macdonald(name):
    mylist = list(name)
    mylist[0] = mylist[0].upper()
    mylist[3] = mylist[3].upper()
    return ''.join(mylist)

In [35]:
old_macdonald('macdonald')

'MacDonald'

---

# exercise-5

In [ ]:
# MASTER YODA: Given a sentence, return a sentence with the words reversed
# master_yoda('I am home') --> 'home am I'
# master_yoda('We are ready') --> 'ready are We'

In [36]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [37]:
master_yoda('I am home')

'home am I'

In [38]:
master_yoda('I am ready')

'ready am I'

# exercise-5 --> 1.alternative

In [39]:
def master_yoda(text):
    return ' '.join(reversed(text.split()))

In [40]:
master_yoda('I am ready')

'ready am I'

In [42]:
master_yoda('I am home')

'home am I'

# exercise-5 --> 2.alternative

In [47]:
def master_yoda(text):
    string = text.split()
    string.reverse()
    return " ".join(string)

In [49]:
master_yoda('We are away from home')

'home from away are We'

---

# exercise-6

In [50]:
# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

In [56]:
def almost_there(n):
    if (n in range(90,110)):
        return True
    elif (n in range(190, 210)):
        return True
    else:
        return False

In [57]:
almost_there(90)

True

In [58]:
almost_there(104)

True

# exercise-6 --> alternative

In [61]:
def almost_there(n):
    if (abs(100 - n) <= 10) or (abs(200 - n)<=10):
        return True
    else:
        return False

In [62]:
almost_there(90)

True

In [63]:
almost_there(104)

True

In [64]:
almost_there(150)

False

In [65]:
almost_there(209)

True

---

# LEVEL 2 PROBLEMS

# exercise-7

In [66]:
# FIND 33:
# Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

In [87]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i]==nums[i+1]==3:
            return True
        else:
            pass 
        return False

In [88]:
has_33([3,3,4])

True

In [89]:
has_33([4,3,3])

False

In [90]:
has_33([3,5,3])

False

---

# exercise-8

In [91]:
# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
# paper_doll('Hello') --> 'HHHeeellllllooo'
# paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [106]:
def paper_doll(text):
    my_string = " "
    for i in range(len(text)):
        my_string += (text[i] * 3)
    print(my_string)

In [107]:
paper_doll('Hello')

 HHHeeellllllooo

In [108]:
paper_doll('Mississippi')

 MMMiiissssssiiissssssiiippppppiii

---

# exercise-9

In [155]:
# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
# If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum
# (even after adjustment) exceeds 21, return 'BUST'
# blackjack(5,6,7) --> 18
# blackjack(9,9,9) --> 'BUST'
# blackjack(9,9,11) --> 19

In [151]:
def blackjack(a,b,c):
    sum_abc = a+b+c
    if sum_abc <= 21:
        return sum_abc
    elif sum_abc > 21:
        if a == 11 or b==11 or c==11:
            return sum_abc-10
        else:
            pass
    return 'BUST'

In [152]:
blackjack(5,6,7)

18

In [153]:
blackjack(9,9,11)

19

In [154]:
blackjack(9,9,9)

'BUST'

---

# exercise-10

In [156]:
# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting
# with a 6 and extending to the next 9 
# (every 6 will be followed by at least one 9). Return 0 for no numbers.
# summer_69([1, 3, 5]) --> 9
# summer_69([4, 5, 6, 7, 8, 9]) --> 9
# summer_69([2, 1, 6, 9, 11]) --> 14

In [161]:
def summer_69(arr):
    sum_69 = 0
    for i in range(len(arr)-1):
        if arr[i] == 6:
            pass
        else:
            return sum_69 += arr[i]

SyntaxError: invalid syntax (2394963594.py, line 7)

In [158]:
summer_69([1, 3, 5])

In [167]:
def summer_69(arr):
    iterate = iter(arr)
    sum_total = 0
    for i in iterate:
        if i == 6:
             9 in iterate
        else:
            sum_total += i
    return sum_total

In [163]:
summer_69([1, 3, 5])

9

In [164]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [168]:
summer_69([2, 1, 6, 9, 11])

14

---

# CHALLENGING PROBLEMS

# exercise-11

In [169]:
# SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
#  spy_game([1,2,4,0,0,7,5]) --> True
#  spy_game([1,0,2,4,0,5,7]) --> True
#  spy_game([1,7,2,0,4,5,0]) --> False

In [186]:
def spy_game(num):
    for i in range(0,len(num)-1):
        if num[i] == 0 and num[i+1] == 0 and num[i+2]==7:
            return True
        return False

In [184]:
spy_game([1,2,4,0,0,7,5])

True

In [178]:
spy_game([1,7,2,0,4,5,0])

False

In [185]:
spy_game([1,0,2,4,0,5,7])

False

In [182]:
def spy_game(nums):
    for i in range(0,len(nums)):
        if nums[i] == 0:
            for x in range(i+1,len(nums)):
                if nums[x] == 0:
                    for y in range(x+1,len(nums)):
                        if nums[y] == 7:
                            return True
                else:
                    return False